
@media only screen and (min-width: 1200px) {
    body {
        background-size:     cover;
    }
}
body {
  background-image: url('../img/background.jpg');
background-position: 50% 0%;;
background-repeat:   no-repeat;
/*font-family: arial*/
}
.dIb{
  display: inline-block;
}
.vertical{
  width: 100%;
}
.rhorizontal{
width: 25%;
}
.lhorizontal{
width: 75%;
}
.atention{
  margin: 3% 0% 3% 0%;
  color: white;
  text-align: center;
  font-family: 'blogger_sansregular';
  font-size: 5vw;
}
.nirolf{
  margin: 5% 0% 5% 0%;
  color: white;
  text-align: center;
  font-size: 8vw;
  font-family: 'robotobold';
}
.adress{
  padding: 0% 0% 0% 2%;
  font-family: 'blogger_sansregular';
  font-size: 2vw;
  color: white;
  text-align: left;
}
.email{
  font-family: 'robotoregular';
  font-size: 2vw;
  color: white;
  text-align: left;
  text-decoration:none

}
.img{
  height: 3vw;;
  width: 3vw;
}
